<h1>List of Projects</h1>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							Status
						</th>
						<th>
							Number
						</th>
						<th>
							Manager
						</th>
            <th>
							Start date
						</th>
            <th>
							End date
						</th>
					</tr>
				</thead>
				<tbody>
          <% @projects.each do |project| %>
					<tr>
						
						<td>
               <%= project.name %>
            </td>
						<td>
               <%= project.status %>
            </td>
						<td>
              <%= project.number %>
            </td>
			      <td>
              <%= project.manager %>
            </td>
				    <td>
              <%= project.start %>
            </td>
						<td>
              <%= project.end %>
            </td>					
            <td>
              <%= link_to 'Show', project %>
            </td>
            <td>
              <%= link_to 'Edit', edit_project_path(project) %>
            </td>
            <td>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
			  
				<!-- <tr class="active"> ...puede ser danger o success o warning-- va alf inal de la linea-->
			
					</tr>
          <% end %>
        </tbody>
        
					
		</div>
	</div>
</div>


<table>
  <div class="well">
  <a class="btn btn-primary btn-large" href="projects/new">  Add Project </a>
</div>



